
.velky {
   background-color: #f596e0;
   padding-right: 2px;
}

.di {
    margin: 14px;
}


li {
    list-style-position: inside;
    background-color: rgb(231, 75, 153);
}

.slovo {
    background-color: rgb(241, 40, 67);
}

ol {
    padding: 5px 5px 5px 5px;

}