h1 {
    color: red;
}

.ul1 {
    list-style-type: square;
}

.win {
    list-style-image: url(winter_16.png);
}

.spri {
    list-style-image: url(spring_16.png);
}

.summe {
    list-style-image: url(summer_16.png);
}

.autu {
    list-style-image: url(autumn_16.png);
}
